.cuadro{
    margin: 50px;
}

.pregunta{
    background-color:  #7fd9fc;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.boton {
    min-width: 125px;
    justify-self: center;
    margin: 2px;
    padding: 16px;
    border-radius: 50%;
    border-width: 2px;
    border-color: #00ACEA;
    background-color: rgb(255, 255, 255);
}

.margin {
    margin-top: 10px;

}

h5{
    color:  #006489;
}
