<div class="col-xl-10 mx-auto col-xl-5 margin">
    <div class="pregunta p-4 p-xl-5 rounded-3">
        <p>Seleccione el usuario que desea crear.</p>
<!--
        <div class="form-group">
            <label class='margin' for="especialidad">Seleccione su especialidad, o elija crear una nueva:</label>
            <select class="form-select" id="especialidad" formControlName="especialidad">
                <option>Paciente</option>
                <option>Especialista</option>
                <option>Administrador</option>
            </select>
        </div>
-->
        <select (click)="actualizar()" [(ngModel)]="selectedOption">
            <option>Paciente</option>
            <option>Especialista</option>
            <option>Administrador</option>
         </select>

        <div *ngIf="selectedOption == 'Especialista'">
            <app-register-especialista></app-register-especialista>
        </div>
        <div *ngIf="selectedOption == 'Paciente'">
            <app-register-paciente></app-register-paciente>
        </div>
        <div *ngIf="selectedOption == 'Administrador'">
            <app-register-admin></app-register-admin>
        </div>
    </div>
</div>