<div class="card">
    <div class="row">
        <div class="column1"><img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" /></div>
        <div class="column2">
            <div class="container">
                <p><b>Nombre Usuario </b> Administrador</p>
                <button>Iniciar Sesion</button>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="row">
        <div class="column1"><img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" /></div>
        <div class="column2">
            <div class="container">
                <p><b>Nombre Usuario </b> Administrador</p>
                <button>Iniciar Sesion</button>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="row">
        <div class="column1"><img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" /></div>
        <div class="column2">
            <div class="container">
                <p><b>Nombre Usuario </b> Administrador</p>
                <button>Iniciar Sesion</button>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="row">
        <div class="column1"><img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" /></div>
        <div class="column2">
            <div class="container">
                <p><b>Nombre Usuario </b> Administrador</p>
                <button>Iniciar Sesion</button>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="row">
        <div class="column1"><img src="https://www.gravatar.com/avatar/205e460b479e2e5b48aec07710c08d50" /></div>
        <div class="column2">
            <div class="container">
                <p><b>Nombre Usuario </b> Administrador</p>
                <button>Iniciar Sesion</button>
            </div>
        </div>
    </div>
</div>