<div class="col-xl-10 mx-auto col-xl-5 margin">
    <div class="pregunta p-4 p-xl-5 rounded-3">
        <p>Seleccione la opcion que desea visualizar.</p>
        <!--
            <button class="boton" (click)="selecInformacionUsuarios()">Informacion Usuarios</button>
        -->
        <div *ngIf="tipoUsuario == 'Paciente'">
            <app-mis-turnos-paciente></app-mis-turnos-paciente>
        </div>
        <div *ngIf="tipoUsuario =='Especialista'">
            <app-mis-turnos-especialista></app-mis-turnos-especialista>
        </div>
    </div>
</div>