<div class="parent2">
  <div class="div4"> </div>
  <div class="div5">
    <div class="parent">
      <div class="div1">
        <img height="100px" width="100px"
          src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/256/undefined/external-tooth-dental-kiranshastry-gradient-kiranshastry.png" />
      </div>
      <div class="div2">
        <h1 class="display-2 fw-bold lh-1 mb-3">Clinica Mariani</h1>
        <p class="display-6 lh-1 mb-3">Agregando cuidado a su vida.</p>
      </div>
      <div class="div3">
        <div class="col-md-12 text-center">
          <form class="p-4 border rounded-5">
            <a class="l-170 btn btn-lg btn-primary" href="/login"> Iniciar Sesion</a>
            <a class="w-70 btn btn-lg btn-primary" href="/register">Registrarme</a>
            <a class="w-70 btn btn-lg btn-primary" href="/mas_informacion">Mas Información</a>
          </form>
        </div>

      </div>
    </div>
  </div>

</div>


<!--


<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-md-5 py-5">
    <div class="col-md-3 text-center text-lg-start">

      <img height="100px" width="100px"
        src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/256/undefined/external-tooth-dental-kiranshastry-gradient-kiranshastry.png" />
    </div>
    <div class="col-lg-6 text-center text-lg-start">

      <h1 class="display-2 fw-bold lh-1 mb-3"><img src="./assets/diente.png" alt="fotito"
          style="width:100px;height:100px;">Clinica Mariani</h1>
      <p class="col-lg-10 fs-4">Agregando cuidado a su vida.</p>
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <form class="p-4 border rounded-5">
        <a class="w-40 btn btn-lg btn-primary" href="/login"> Iniciar Sesion</a>
        <a class="w-40 btn btn-lg btn-primary" href="/register">Registrarme</a>
        <a class="w-40 btn btn-lg btn-primary" href="/mas_informacion">Mas Información</a>
      </form>
    </div>
    <button class="boton" (click)="aVer()">mail</button>

  </div>

</div>

-->