<!-- TODO FIXME MARGIN -->
<div class="col-md-10 mx-auto col-lg-5 margin">
    <div class="fondo">
        <div>
            <div>
                <h3>TURNOS</h3>
            </div>

            <div>
                <div>
                    <h6>
                        Seleccione una especialidad:
                    </h6>
                </div>
                <div>
                    <button *ngFor="let especialidad of obtenerEspecialidades()"
                        (click)="seleccionarEspecialidad(especialidad)">
                        {{especialidad.especialidad}} </button>
                </div>
            </div>

            <div>
                <h6>
                    Seleccione un especialista: 
                </h6>
                <div>
                    <button *ngFor="let especialista of obtenerEspecialistas()" (click)="seleccionarEspecialista(especialista)">
                        {{especialista.nombre}}
                    </button>
                </div>
            </div>

            <div>
                <div>
                    <h4>
                        Horarios Disponibles:
                    </h4>
                </div>
                <div>
                    <button *ngFor="let horarioDisponible of horariosDisponibles()"
                        (click)="seleccionarHorario(horarioDisponible)"> {{horarioDisponible}} </button>
                </div>
            </div>

            <div>
                <div>
                    <h3>
                        Turno correspondiente:
                    </h3>
                </div>
                <div>
                    <ul>
                        <li>
                            Horario: {{datos?.horarioSeleccionado}}
                        </li>
                        <li>
                            Especialidad: {{datos?.especialidad}}
                        </li>
                        <li>
                            Especialista: {{datos?.especialista}} {{datos?.especialista}}
                        </li>
                    </ul>
                </div>
                <div>
                    <button (click)="crearTurno()"> Crear </button>
                </div>
            </div>
        </div>
    </div>
</div>