<div class="parent">
    <div class="div1">
        <img height="100px" width="100px" src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/256/undefined/external-tooth-dental-kiranshastry-gradient-kiranshastry.png" />
    </div>
    <div class="div2"> <img height="100px" width="100px"
            src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/256/undefined/external-tooth-dental-kiranshastry-gradient-kiranshastry.png" />
    </div><img height="100px" width="100px"
        src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/256/undefined/external-tooth-hygiene-kiranshastry-gradient-kiranshastry.png" />

    <div class="div3"> </div>
</div>



<a>AAaa</a>
<img src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/64/undefined/external-tooth-dental-kiranshastry-gradient-kiranshastry-3.png"/>
<img
    src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/256/undefined/external-tooth-dental-kiranshastry-gradient-kiranshastry-2.png" />
<img
    src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/256/undefined/external-tooth-hygiene-kiranshastry-gradient-kiranshastry-5.png" />
<img
    src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/256/undefined/external-tooth-hygiene-kiranshastry-gradient-kiranshastry-2.png" />
<img
    src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/256/undefined/external-tooth-hygiene-kiranshastry-gradient-kiranshastry-3.png" />
<img
    src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/256/undefined/external-tooth-hygiene-kiranshastry-gradient-kiranshastry-4.png" />-->